body {
    background-color: #141414;
}
p {
    color: white;
    text-align: center;
    font-family: 'Poppins';
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Poppins';
}

#Saibamais img
{
    display: block;
    width: 10%;
    height: auto;
}


#Saibamais{
    justify-content: center;
}

#showcase{
    min-height: 750px;
    min-width: auto;
    text-align: center;
}

#bgimage{
    background-image: #333 url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
}

#Título{
    align-items: center;
    justify-items: center;
}

.Card{
    margin: 50px;
}